PORT=3000
SUPABASE_URL=https://xxjctzefhhkyuxdvtnys.supabase.co
SUPABASE_ANON_KEY=sb_publishable_-LviAT90n7CK7V7FWpQqxA_5xdn569M
IMGBB_API_KEY=bd9ee10d5692064ea335244c4bac4360

GROQ_KEY_1=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
GROQ_KEY_2=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
GROQ_KEY_3=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
GROQ_KEY_4=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
GROQ_KEY_5=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
GROQ_KEY_6=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
GROQ_KEY_7=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
